<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlist Video</title>
  <style>
    body{
      font-family: Arial, sans-serif;
      background-color: darkgrey;
    }

  </style>
</head>
<body>

<h1>Playlist Video</h1>

<p>Se encuentra en la sesión: <span id="sessionId" th:text="${sesion.getSessionId()}"></span> </p>

<br>

<!-- Lista de videos -->
<h3>Selecciona un video:</h3>
<ul id="videoList">
  <!-- Los videos se cargarán aquí dinámicamente -->
</ul>

<script>
  // Función para obtener la lista de videos desde el servidor
  function loadVideoList() {
    fetch('/api/videos')
            .then(response => response.json())
            .then(data => {
              const videoList = document.getElementById("videoList");
              data.forEach(video => {
                const li = document.createElement('li');

                // Buscar ' y reemplazar por /u0027
                let videoId = encodeURIComponent(video);
                videoId = videoId.replace(/'/g, '%27');

                li.innerHTML = `<button href="#" onclick="loadVideo('${videoId}')">${video}</button>`;
                videoList.appendChild(li);
              });
            })
            .catch(error => console.error('Error al cargar los videos:', error));
  }

  // Función para cargar un video
  function loadVideo(filename) {
    let sessionId = document.getElementById("sessionId").innerText;
    fetch('../../play/' + sessionId, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({filename: filename})
    })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
            })
            .then(data => {
              console.log('Video cargado:', data);
            })
            .catch(error => console.error('Error al cargar el video:', error));
  }

  // Cargar la lista de videos cuando se carga la página
  loadVideoList();
</script>

</body>
</html>
