<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproductor de Video</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: darkgrey;
        }

        h1 {
            text-align: center;
        }

        #videoPlayer {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<h1>Reproductor de Video</h1>

<p>Sesión actual: <span id="sessionId" th:text="${sesion.getSessionId()}"></span></p>

<!-- Reproductor de video -->
<section id="videoPlayerContainer">
    <video id="videoPlayer" width="800" controls>
        <source id="videoSource" type="video/mp4">
        Tu navegador no soporta el formato de video.
    </video>
</section>

<br>

<script>
    // Variable para almacenar la conexión WebSocket
    let socket = null;

    let sessionId = document.getElementById("sessionId").innerText;

    let url = window.location.href;
    let urlSplit = url.split("/");
    let urlBase = urlSplit[2];
    console.log("urlBase: ", urlBase);

    // Función para crear una nueva conexión WebSocket
    function connectWebSocket() {
        // Verificamos si ya hay una conexión abierta
        if (socket && socket.readyState === WebSocket.OPEN) {
            console.log("Ya hay una conexión WebSocket abierta.");
            return; // Si ya está abierta, no creamos una nueva
        }


        // Conectar al WebSocket
        socket = new WebSocket('wss://' + urlBase + '/ws/video');

        // Cuando el WebSocket esté abierto, el cliente está listo para recibir mensajes
        socket.onopen = function () {
            console.log('Conectado al WebSocket');
            // Enviar el ID de sesión al servidor después de que la conexión esté abierta
            socket.send(JSON.stringify({type: "registerSession", sessionId: sessionId}));
        };

        // Función para recibir la URL del video y la posición de reproducción desde el servidor
        socket.onmessage = function (event) {
            const message = JSON.parse(event.data);

            if (message.type === "videoInfo") {
                const videoUrl = message.videoUrl;  // La URL del video que el servidor envió
                const currentTime = message.currentTime; // La posición del video para sincronizar

                console.log('Reproduciendo video desde URL: ', videoUrl);
                const videoElement = document.getElementById("videoPlayer");
                const videoSource = document.getElementById("videoSource");
                videoSource.src = videoUrl;  // Establece la fuente del video
                videoElement.load();         // Carga el video
                videoElement.currentTime = currentTime; // Coloca la posición del video
                videoElement.volume = 0.3;
                videoElement.play();         // Reproduce el video
            }
        };
        // Si ocurre algún error en la conexión WebSocket
        socket.onerror = function (error) {
            console.error('Error de WebSocket: ', error);
        };

        // Si se cierra la conexión WebSocket
        socket.onclose = function () {
            console.log('Conexión WebSocket cerrada');
        };
    }

    // Función para enviar la información del video (posición y estado) al servidor
    function sendVideoState() {
        const videoElementSource = document.getElementById("videoSource");
        let videoUrl = videoElementSource.src;
        videoUrl = videoUrl.replace("https://" + urlBase, "");
        console.log("videoUrl: ", videoUrl);

        const videoElement = document.getElementById("videoPlayer");
        const currentTime = videoElement.currentTime; // Obtener la posición actual del video
        const isPlaying = !videoElement.paused; // Verificar si el video está en reproducción

        socket.send(JSON.stringify({
            type: "videoState",
            videoUrl: videoUrl,
            sessionId: sessionId,
            currentTime: currentTime,
            isPlaying: isPlaying
        }));
    }

    // Detectar cambios en el video (play, pause, seek)
    // document.getElementById("videoPlayer").addEventListener("play", sendVideoState);
    document.getElementById("videoPlayer").addEventListener("pause", sendVideoState);
    // document.getElementById("videoPlayer").addEventListener("seeked", sendVideoState);

    // Llamar a la función para crear la conexión WebSocket al cargar la página
    connectWebSocket();
</script>

</body>
</html>
